template(name="CustomersList")
  .container
    +CustomersTableList


template(name="CustomersTableList")
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Name
        th Email
        th Phone
        th Actions 
    tbody
      each customers
        tr
          td  #{name}
          td  #{email}
          td  #{phone}
          td 
            a.delete(href="#") Delete 
            | - 
            a.edit(href="{{ pathFor route='customers.edit' }}") Edit
  a.btn.btn-default(href="{{ pathFor route='customers.add' }}") Add new customer

template(name="CustomersAdd")
      .container
        +CustomersForm

template(name="CustomersEdit")
      .container
        +CustomersForm

template(name="CustomersForm")
  form.customerForm.form-horizontal
    .panel.panel-default
      .panel-body
        .form-group
          label.col-xs-3.control-label(for="name") Nome
          .col-xs-9
            input.form-control(type="text" value="#{name}" name="name" id="name" placeholder="Maria Augusta")
        .form-group
          label.col-xs-3.control-label(for="email") Email
          .col-xs-8
            input.form-control(type="text" value="#{email}" name="email" id="email" placeholder="maria.augusta@gmail.com")
        .form-group
          label.col-xs-3.control-label(for="phone") Telefone 
          .col-xs-6
            input.form-control(type="text" name="phone" value="#{phone}" id="phone" placeholder="21 9 9323 2312")
    if isEditing
      input.btn.btn-default(type="submit" value="Update")
    else
      input.btn.btn-default(type="submit" value="Add new customer")
