template(name="OrdersList")
  .container
    +OrdersTableList


template(name="OrdersTableList")
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Product 
        th Quantity
        th Price 
        th Actions 
    tbody
      each orders 
        tr
          td  #{product}
          td  #{quantity}
          td  #{price}
          td 
            a.delete(href="#") Delete
            | - 
            a.edit(href="{{ pathFor route='orders.edit' }}") Edit
  a.btn.btn-default(href="{{ pathFor route='orders.add' }}") Add new order 

template(name="OrdersAdd")
      .container
        +OrdersForm

template(name="OrdersEdit")
      .container
        +OrdersForm

template(name="OrdersForm")
  form.orderForm.form-horizontal
    .panel.panel-default
      .panel-body
        .form-group
          label.col-xs-3.control-label(for="product")  Product 
          .col-xs-9
            input.form-control(type="text" value="#{product}" name="product" id="product" placeholder="Cupcake de Laranja")
        .form-group
          label.col-xs-3.control-label(for="quantity") Quantity 
          .col-xs-8
            input.form-control(type="text" value="#{quantity}" name="quantity" id="quantity" placeholder="3")
        .form-group
          label.col-xs-3.control-label(for="price") Price 
          .col-xs-6
            input.form-control(type="text" name="price" value="#{price}" id="price" placeholder="R$22,00")
    if isEditing
      input.btn.btn-default(type="submit" value="Update")
    else
      input.btn.btn-default(type="submit" value="Add new order")
